<!doctype html>
<html lang="en"> 
<head>
<title>Diplomatic Documents and Swiss Newspapers in 1914</title>
<meta charset="UTF-8" />
</head>
<body>
<h1>Diplomatic Documents and<br>Swiss Newspapers in 1914</h1>
<form method="post" action="/search">
<textarea name="search" cols="80">{% if search %}{{search}}{% endif %}</textarea><br>
<input type="submit" name="button" value="search"><br>
<input type="radio" name="search_type" value="text" checked="checked"> Text
<input type="radio" name="search_type" value="topic"> Topic<br>
Limit <input name="limit" value="25">
</form>
{% if list %}
    {% if result %}
      <ul>
        {% for entry in result %}
        <li><a href="article/{{ entry.id }}">{{ entry.title }}</a><br>
        {{ entry.newspaper }}, {{ entry.date }} ({{ entry.score }})</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No results found</p>
    {% endif %}
{% else %}
    {% if result and result.content %}
<h2> {{result.title}} </h2>
<p>Journal: {{ result.newspaper }}<br>
Date: {{ result.date }}</p>
<p>{{ result.content }}</p>
    {% endif %}
{% endif %}
</body>
</html>
